<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="sign-in-form">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <div class="email">
      <%= f.label :email %>
      <%= f.text_field :email %>
      </div>

      <div class="password">
      <%= f.label :password %>
      <%= f.password_field :password %>
      </div>

      <div class="sign-in">
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>

    <p class="new-user">New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>