<%= form_for(@record) do |f| %>  
<%= render 'shared/error_messages', object: f.object %>   
<div class="field">
	<%= f.text_field :date, placeholder: "Date..." %>  
	<%= f.text_field :id, value: @id %> 
</div>   
<%= f.submit "Done", class: "btn btn-large btn-primary" %>
<% end %>