<% provide(:title, 'New Resolution') %>
<h1>Add a Resolution</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@resolution) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <div class="field hidden">
      <%= f.label :frequency %>
      <%= f.text_field :frequency, value: "Daily"%>
   	 </div>
      <%= f.submit "Add a resolution", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>