<h1> <%= @resolution.name %> </h1>
<h3> Current Streak:
	<%= @resolution.current_streak %>
</h3>
<h3> Max Streak:
	<%= @resolution.max_streak %>
</h3>
<h2> Records </h2>
	<% if @records.count > 0 %>
	<div class="row">
		<ol>
			<% @records.each do |record| %>
			<li class="resolution"> 
			  <%= record.date %>
				<%= link_to "x", record, method: :delete, data: { confirm: "Are you sure you want to delete this record?" }, class: "add-left" %>
		  </li>
			<% end %>
		</ol>
	</div>
	<% else %>
	<p> You have no records for this resolution </p>
	<% end %>


	<h2 class="remove-bottom"> Add a Record </h2>
	<% @record = @resolution.resolution_records.build %>
	<% @id = @resolution.id %>
	<% @date = Date.today %>
	<div class="add-record"> 
		<%= render 'shared/resolution_record_form' %>
	</div>
	<div class="row add-top">
	<%= link_to "Delete This Resolution", @resolution, method: :delete, data: { confirm: "Are you sure you want to delete this resolution?" } %>
</div>
