<!DOCTYPE html>
<html>
<head>
  <title>ResolutionApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <% if signed_in? %>
      <h5> Signed in as user <%= current_user.id %> </h5>
      <%= link_to "Sign out", signout_path, method: "delete" %>
      <% else %>
      <%= link_to "Sign in", signin_path %>
      <% end %>
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
