<!DOCTYPE html>
<html>
<head>
  <title>ResolutionApp</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="nav-bar">
      <div class="container">
        <h4 class="page-title"> <span class="green">STREAKS</span><span class="blue">!</span> </h4>
        <% if signed_in? %>
        <h5 class=""> <%= current_user.id %> </h5>
        <%= link_to "Sign out", signout_path, method: "delete" %>
        <% else %>
        <%= link_to "Sign in", signin_path %>
        <% end %>
      </div>
    </div>
    <div class="container">
      
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
